<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
			   xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
	  <!--<links>-->
    <!--Patch Instead example-->
    <!--<itemUrlBuilder type="Scdev.Web.CustomCode.CustomLinkProvider,Scdev.Web"
						  patch:instead="*[@type='Sitecore.Links.UrlBuilders.ItemUrlBuilder, Sitecore.Kernel']">			 
		  </itemUrlBuilder>-->
    <!--Patch Delete example-->
    <!--<itemUrlBuilder>
			  <patch:delete/>
		  </itemUrlBuilder>
		  <itemUrlBuilder type="Scdev.Web.CustomCode.CustomLinkProvider,Scdev.Web">			  
		  </itemUrlBuilder>-->
		  
    <!--Patch Attribute example-->
    <!--<linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute name="type">Scdev.Web.CustomCode.CustomLinkProvider,Scdev.Web</patch:attribute>
        </add>
      </providers>
    </linkManager>-->
    <!--set example-->
    <linkManager>
      <providers>
        <add set:type="Scdev.Web.CustomCode.CustomLinkProvider,Scdev.Web"/>         
      </providers>
    </linkManager>
  </sitecore>
</configuration>